* {
    padding: 0%;
    margin: 0%;
}

.inicio p {
    color: beige;
}


#img {
    background-image: url(../image/Optimized-page.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0%;
    padding: 0%;

}

.texto {
    text-align: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0%;
}

.texto-1 {
    padding: 2vh;
    margin-left: 320px;
    margin-top: 20px;
    width: 50%;
    font-size: 4em;
    margin-bottom: 150px;
    text-align: center;
    border-bottom: solid white;
}

.texto-2 {
    font-size: 3.5em;
    margin-top: 30px;
    padding: 4vh;

}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1em;

}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header nav ul li {
    list-style-type: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: beige;
}

.boton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 80px;
    background-color: #D784D9;
    color: #fff;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: 3s ease all;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    -webkit-transition: 3s ease all;
    -moz-transition: 3s ease all;
    -ms-transition: 3s ease all;
    -o-transition: 3s ease all;
}

.boton span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
}

.boton::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #464573;
    position: absolute;
    z-index: 1;
    top: -88px;
    left: 0%;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.boton:hover::after {
    top: 0;
}

.titulo-s {
    text-align: center;
    color: white;
    font-size: 2.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}

#servicios {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10em;
}

.unirse {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 80px;
    background-color: #D784D9;
    color: #fff;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: 3s ease all;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    margin-top: 400px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -webkit-transition: 3s ease all;
    -moz-transition: 3s ease all;
    -ms-transition: 3s ease all;
    -o-transition: 3s ease all;
}

.unirse span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
}

.unirse::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #464573;
    position: absolute;
    z-index: 1;
    top: -88px;
    left: 0%;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.unirse:hover::after {
    top: 0;
}

#img-ser {
    background-image: url(../image/Optimized-page2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

h3 {
    text-align: center;
    color: black;
    font-size: 1.5em;
}

.titulo-s {
    margin-top: 20px;
    margin-bottom: 0%;
}

.carta1 {
    background-image: url(../image/spinning.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
    padding: 100px;
    margin: 10px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.carta1 h3 {
    color: rgb(255, 42, 113);
    background-color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.carta2 {
    background-image: url(../image/crossfit.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 100px;
    margin: 10px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.carta2 h3 {
    color: rgb(255, 42, 113);
    background-color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.carta3 {
    background-image: url(../image/servicios-fondo.jpg);
    height: 100vh;
    background-size: cover;
    padding: 100px;
    margin: 10px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.carta3 h3 {
    color: rgb(255, 42, 113);
    background-color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#img-suple {
    background-color: #416BBF;
}

.izquierda {
    background-image: url(../image/Optimized-page3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 50%;
    height: 110vh;
    margin: 0%;
    margin-top: 0%;
}

.izquierda h2 {
    font-size: 2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: beige;
    text-align: center;
    padding: 200px;

}

.derecha {
    background-color: #464573;
    height: 110vh;
    width: 50%;
    margin-top: 0%;
}

#pantalla-dividida {
    display: flex;
    margin-top: 0%;
}

.caja1 img {
    height: 200px;
    width: 200px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}

.caja1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.caja1 p {
    margin-left: 10px;
}

.caja2 img {
    height: 200px;
    width: 200px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}

.caja2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.caja2 p {
    margin-left: 10px;
}

.caja3 img {
    height: 200px;
    width: 200px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}

.caja3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.caja3 p {
    margin-left: 10px;
}

.parrafo-suple {
    padding: 10px;
    margin-left: 250px;
    justify-content: center;
    text-align: center;
    height: 10px;
    width: 20px;
    background-color: #2c2c50;
    color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.inicio-nuestros {
    background-color: #A64B7D;
}

.titulo-nuestro {
    font-size: 2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: beige;
    margin-bottom: 0%;
    margin-top: 20px;
}

#nuestros-entrenadores h3 {
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: beige;
    margin-top: 300px;
}

#nuestros-entrenadores h2 {
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: beige;
    margin-top: 80px;
}

#nuestros-entrenadores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10em;
}

#nuestros-entrenadores h2 {
    font-size: 1.8em;
}

.entrenadores1 {
    text-align: center;
    background-image: url(../image/profe3.jpg);
    background-position: center center;
    width: 33%;
    height: 100vh;
    background-size: cover;
    padding: 100px;
    margin: 10px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.entrenadores2 {
    text-align: center;
    background-image: url(../image/profe1.jpg);
    background-position: center center;
    width: 33%;
    height: 100vh;
    background-size: cover;
    padding: 100px;
    margin: 10px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.entrenadores3 {
    text-align: center;
    background-image: url(../image/profe2.jpg);
    background-position: center center;
    width: 33%;
    height: 100vh;
    background-size: cover;
    padding: 100px;
    margin: 10px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.parrafo-nuestros {
    margin-top: 0%;
    height: 90px;
    width: 100%;
    background-color: #D784D9;
    border-radius: 100px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.parrafo-nuestros a {
    height: 10px;
    width: 20px;
    border-radius: 5px;
    background-color: #A64B7D;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.membresia {
    background-image: url(../image/horarios4.jpg);
    background-size: cover;
    background-position: center center;
    width: 50%;
    height: 100vh;
}

.horario {
    background-image: url(../image/horarios3.jpg);
    background-size: cover;
    background-position: center center;
    width: 50%;
    height: 100vh;
}

.horarios-img {
    background-color: #D784D9;
}

.texto-horario h2 {
    font-size: 2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 20px;
    margin: 30px;
}

.texto-horario {
    text-align: center;
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.texto-horario h3 {
    display: inline-block;
    padding: 10px;
    margin: 20px;
}

.texto-horario a {
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ff008c;
    padding: 10px;
    margin: 30px;
}

.inicio-contacto {
    background-image: url(../image/page5.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0%;
    padding: 0%;
}

.inicio-contacto header {
    height: 100px;
}


.contacto {
    color: rgb(255, 255, 204);
    text-align: center;
    font-size: 1.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formulario {
    height: 80vh;
    width: 600px;
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    padding: 90px;
    border-radius: 20px;
    background-color: #F26D3D;
    color: white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.formulario h1 {
    font-size: 1.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 4px;
    margin-top: 0%;
    padding: 0%;
}

.controls {
    display: block;
    text-align: center;
    font-size: 1em;
    height: 40px;
    width: 400px;
    margin-top: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.button {
    display: block;
    font-size: 1em;
    width: 400px;
    height: 50px;
    margin-top: 20px;
    background-color: #F29727;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#servi {
    font-size: 1em;
    margin-top: 20px;
    height: 50px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.inicio-cambios {
    background-color: black;
}

.texto-cambios h1 {
    font-size: 2em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: beige;
    text-align: center;
    width: 300px;
    margin-left: 380px;
}

.grid-layout img {
    width: 100%;
}

.grid-layout {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: stretch;
    width: 80%;
    margin: auto;
}

.cambio1 {
    grid-column: 1/2;
}

.cambio2 {
    grid-column: 2/3;
}

.cambio3 {
    grid-column: 3/4;
}

.cambio4 img {
    width: 100%;
    height: 450px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}

.cambio4 {
    grid-column: 1/4;
}

.cambio5 {
    grid-column: 1/2;
}

.cambio6 {
    grid-column: 2/3;
}

.combio7 {
    grid-column: 3/4;
}

.cambio8 img {
    height: 450px;
    width: 100%;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}

.cambio8 {
    grid-column: 1/4;
}

.cambio9 {
    grid-column: 1/2;
}

.cambio10 {
    grid-column: 2/3;
}

.cambio11 {
    grid-column: 3/4;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    width: 100%;
}

.contenedor .botones {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgb(29, 28, 28);
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
}

.contenedor .botones:hover {
    width: 200px;
}

.contenedor .botones .icono {
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    text-align: center;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.contenedor .botones {
    font-size: 25px;
    line-height: 60px;
}

.contenedor .botones span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

/* @media screen and (max-width: 480px) {
    .texto {
        display: inline;
        padding: 20px;
        width: 200px;
        height: 100%;
        margin-left: 100px;
    }

    .texto-2 {
        font-size: 2em;
    }

    .texto-1 {
        margin-left: 25%;
        font-size: 3em;
    }

    .boton {
        margin-left: 10px;
    }

    .contenedor .botones:hover {
        width: 80px;
    }
} */

@media screen and (min-width: 400px) {
    .texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .texto-2 {
        font-size: 2em;
        display: inline;

    }

    .texto-1 {
        margin-left: 25%;
        font-size: 3em;
    }

    .boton {
        margin-left: 12vh;
        
    }

    .contenedor .botones:hover {
        width: 80px;
    }
    .contenedor{
        margin-right: 25px;
        
    }
}

/* dekstop */

/* @media screen and (max-width:770px) {
    .texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .texto-2 {
        font-size: 2em;
    }

    .texto-1 {
        margin-left: 25%;
        font-size: 3em;
    }

    .boton {
        margin-left: 25vh;
    }

    .contenedor .botones:hover {
        width: 80px;
    }
} */
@media screen and (min-width:1024px) {
    .texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .texto-2 {
        font-size: 3em;
        margin-top: 30px;
        padding: 2vh;
    }

    .texto-1 {
        /* padding: 2vh;
        margin-left: 320px; */
        /* margin-top: 20px; */
        /* width: 50%; */
        font-size: 4em;
        margin-bottom: 150px;
        text-align: center;
        border-bottom: solid white;
    }

    .boton {
        margin-left: 43%;
    }

    .contenedor .botones:hover {
        width: 200px;
    }
    .contenedor{
        margin-left: 45px;
        margin-top: 150px;
    }
}